body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(90deg, #cac8b7, #e4c1be, #d1f5da);
    background: linear-gradient(90deg, #cac8b7, #e4c1be, #d1f5da);
}

.app {
    display: flex;
    margin: 150px auto;
    width: 350px;
    height: 350px;
}

.app-card,
.app-calculateTotal {
    display: flex;
    flex-direction: column;
}

.app-card{
    width: 65%;
    background-color: #6B8E23;
    color: white;
    border-radius: 10px;
    box-shadow: inset 0 -2px rgb(46, 45, 45);
    align-items: center;
}

img {
    width: 220px;
    height: 150px;
}


button {
    background-color: #E2A30B;
    color: white;
    border-radius: 5px;
    box-shadow: inset 0 -3px #58751d;
    font-size: 17px;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

button:hover {
    background-color: antiquewhite;
    color: #6B8E23;
}

.name-product {
    font-size: 13px;
}

#price {
    font-size: 20px;
}

.app-calculateTotal {
    background-color: white;
    justify-content: center;
    padding-left: 4px;
}

.app-buttons {
    display: flex;
    align-items: center;
    gap: 5px;
}